body {
    height: 100%;
    width: 100%;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.72222;
    color: #fff;
    background: url(../images/city.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    font-size: 20px;
}

.btn-default.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.well {
    padding: 40px auto;
    background: rgba(22, 22, 22, 0.5);
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

h1 {
    font-size: 50px;
    font-family: arvo;
    font-weight: 300;
    letter-spacing: 6px;
}

#worldmap {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 600px;
    color: #000;
}

.countries {
    cursor: pointer;
}

.table-hover tbody tr:hover td {
    background-color: grey;
}

.flag, .map {
    max-width: 200px;
}

.flag {
    margin-right: 15px;
}

.country-buttons {
    margin-top: 20px;
}

.footer {
    height: 60px;
    background-color: grey;
    color: white;
    padding: 10px;
}

/* Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* centered columns styles */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.animate-view-container {
    position: relative;
    min-height: 100%;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition: .5s linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.animate-view.ng-enter {
    opacity: 0;
    z-index: 100;
}

.animate-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-view.ng-leave {
    opacity: 1;
    z-index: 99;
}

.animate-view.ng-leave.ng-leave-active {
    opacity: 0;
}

