<div class="row row-centered">
    <div class="col-xs-12 col-sm-6 col-centered well">


        <div class="form-horizontal">

            <h2>{{ vm.country.countryName }}</h2>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="population">Population</label>
                <div class="col-xs-8">
                    <p id="population" class="form-control-static">{{ vm.country.population | number:0 }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="area">Area</label>
                <div class="col-xs-8">
                    <p id="area" class="form-control-static">{{ vm.country.areaInSqKm | number:0 }} square km</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="continentName">Continent</label>
                <div class="col-xs-8">
                    <p id="continentName" class="form-control-static">{{ vm.country.continentName }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="capital">Capital</label>
                <div class="col-xs-8">
                    <p id="capital" class="form-control-static">{{ vm.country.capital }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="capitalPopulation">Population of Capital</label>
                <div class="col-xs-8">
                    <p id="capitalPopulation" class="form-control-static">{{ vm.country.capitalPopulation | number:0 }}</p>
                </div>
            </div>

            <div class="form-group" ng-if="vm.neighbors.length">
                <label class="col-xs-4 control-label" for="neighbors">Neighbors</label>
                <p class="col-xs-8">
                <ul id="neighbors" class="list-inline">
                    <li ng-repeat="neighbor in vm.neighbors | limitTo: 3">
                        <a ng-href="#/countries/{{ neighbor.countryCode }}">{{ neighbor.countryName }}</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="text-center">
            <img class="flag" ng-src="http://www.geonames.org/flags/x/{{ vm.country.countryCode | lowercase }}.gif"/>
            <img class="map" ng-src="http://www.geonames.org/img/country/250/{{ vm.country.countryCode | uppercase }}.png"/>
        </div>

    </div>
</div>

